@model ML.AlumnoMateria
@{
    ViewBag.Title = "MateriasGetByAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Seleccione el Icono ✔ para agregar una materia</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })
                    @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })
                    @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
                    @*hidden*@
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.Nombre)
                    @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @id = "txtNombre", disabled = "true" })
                    @Html.ValidationMessageFor(model => model.Alumno.Nombre, null, new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.ApellidoPaterno)
                    @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", disabled = "true" })
                    @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno, null, new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.ApellidoMaterno)
                    @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", disabled = "true" })
                    @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success glyphicon glyphicon-ok" href="@Url.Action("MateriasSinAsignarGetByAlumno", "AlumnoMateria", Model.Alumno)"></a>
        </div>
    </div>
    <br />
    @*<div class="row">
            <div class="col-md-1 ">
                @Html.ActionLink("Asignar", "MateriasSinAsignarGetByAlumno", "AlumnoMateria", htmlAttributes: new { @class = "btn btn-success" })
            </div>
            <br> <br />
        </div>*@
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <td>Eliminar</td>
                        <td class="hidden">IdMateria</td>
                        <td class="hidden">IdAlumno</td>
                        <td>Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnosMaterias)
                    {
                        <tr>
                            <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash " href="@Url.Action("MateriasDelete", "AlumnoMateria", new { IdAlumno = alumnoMateria.Alumno.IdAlumno, IdMateria = alumnoMateria.Materia.IdMateria })" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"></a></td>
                            <td class="hidden">@alumnoMateria.Materia.IdMateria</td>
                            <td class="hidden">@alumnoMateria.Alumno.IdAlumno</td>
                            <td>@alumnoMateria.Materia.Nombre</td>
                        </tr>
                    }
                </tbody>

            </table>
            @Html.ActionLink("Regresar", "GetAll", "AlumnoMateria", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>

</div>

